@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "UserIndex";
}

<div class="jumbotron">
    <h1>Fantasy Tracker</h1>
    <p class="lead"></p>
    <h2>Welcome @User.Identity.GetUserName()!</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What To Watch</h2>
        <p>Games Today: </p>
        <br /><p>Games This Week:</p>

    </div>
    <div class="col-md-4">
        <h2>Teams</h2>
        @Html.ActionLink("Create A Team", "CreateTeam", "User", routeValues: null, htmlAttributes: new { id = "createTeamLink" })
        ||
        @Html.ActionLink("View Roster", "UserRoster", "User", routeValues: null, htmlAttributes: new { id = "createTeamLink" })
        <table class="table">
            <tr>
                <th>
                    Team Name
                </th>
                <th>
                    Players On Team
                </th>
                <th></th>
            </tr>
            @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                    </td>
                </tr>
            }*@
        </table>
    </div>
    <div class="col-md-4">
        <h2>Manage Roster</h2>
        <p>Click this button if you would like to add players to a team.</p>
        @Html.ActionLink("Add Players", "CreateRoster", "User", routeValues: null, htmlAttributes: new { id = "createTeamLink" })
    </div>

</div>

