@using Microsoft.AspNet.Identity
@model IEnumerable<FantasyTracker.Models.Team>
@{
    ViewBag.Title = "UserIndex";
}

<div class="jumbotron">
    <h1>Fantasy Tracker</h1>
    <p class="lead"></p>
    <h2>Welcome @User.Identity.GetUserName()!</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What To Watch</h2>
        <p>Click 'View Games' to see all of the games taking place today.</p>
        @Html.ActionLink("View Games", "ViewGames", "User", routeValues: null, htmlAttributes: new { id = "viewGames" })

    </div>
    <div class="col-md-4">
        <h2>Teams</h2>
        @Html.ActionLink("Create A Team", "CreateTeam", "User", routeValues: null, htmlAttributes: new { id = "createTeamLink" })
        ||
        @Html.ActionLink("View Roster", "UserRoster", "User", routeValues: null, htmlAttributes: new { id = "viewRoster" })
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TeamName)
                </th>
            </tr>

            @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                </tr>
            }*@
        </table>
    </div>
    <div class="col-md-4">
        <h2>Manage Roster</h2>
        <p>Click this button if you would like to add players to a team.</p>
        @Html.ActionLink("Add Players", "CreateRoster", "User", routeValues: null, htmlAttributes: new { id = "createTeamLink" })
    </div>
</div>

